@import "tailwindcss";

@theme {
    --color-timberwolf: #D4D2D5;
    --color-platinum: #E2E0E2;
    --color-rufous: #B02E0C;
}

@font-face {
    font-family: RobotoMono;
    src: url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Orbitron;
    src: url("/fonts/Orbitron/Orbitron-VariableFont_wght.ttf") format("truetype");
    font-weight: 900;
}

