---
import "../styles/global.css";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alex Chiquillo</title>
		<style>
			@keyframes marquee {
				to {
					transform: translateX(-50%);
				}
			}
			@keyframes spin {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
				}
			}
			.animate-marquee {
				animation: marquee 25s linear infinite;
			}
			.animate-spin {
				animation: spin 15s linear infinite;
			}
			body {
				cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'><path d='M100,10 C110,50 150,90 190,100 C150,110 110,150 100,190 C90,150 50,110 10,100 C50,90 90,50 100,10Z' fill='fffffff'/></svg>"),
					auto;
			}
		</style>
	</head>
	<body class="bg-timberwolf min-h-screen">
		<div class="h-[50vh] bg-rufous overflow-clip flex">
			<div
				class="self-start whitespace-nowrap m-2 text-timberwolf font-[RobotoMono]"
			>
				<h3>Alex Chiquillo</h3>
			</div>
			<div
				class="pl-12 text-timberwolf flex self-end gap-12 w-max animate-marquee pb-8"
			>
				<h1 class="font-[Orbitron] whitespace-nowrap text-8xl">
					COMPUTER ENGINEER
				</h1>
				<h1 class="font-[Orbitron] whitespace-nowrap text-8xl">
					COMPUTER ENGINEER
				</h1>
				<h1
					class="font-[Orbitron] whitespace-nowrap text-8xl aria-hidden:"
				>
					COMPUTER ENGINEER
				</h1>
				<h1
					class="font-[Orbitron] whitespace-nowrap text-8xl aria-hidden:"
				>
					COMPUTER ENGINEER
				</h1>
			</div>
		</div>
		<div class="flex mt-6">
			<div class="w-1/2"></div>
			<div class="w-1/2">
				<p class="text-pretty font-[RobotoMono] text-[clamp(1.5rem,2vw,2rem)]">
					As a creative developer, I focus on both design and
					development — allowing me to work on projects from concept
					until the very moment we hit publish. Unique layouts,
					interactions and great typography is what I focus on when
					working on websites.
				</p>
			</div>
		</div>
	</body>
</html>
