---
import Marquee from "../components/Marquee.astro";
import "../styles/global.css";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alex Chiquillo</title>
	</head>
	<body class="bg-timberwolf m-0 p-0">
		<div class="min-h-screen flex flex-col">
			<main class="flex-1">
				<div class="h-[45vh] bg-rufous flex flex-col">
					<div class="whitespace-nowrap flex w-full">
						<h3
							class="self-start m-2 text-timberwolf font-[RobotoMono]"
						>
							Alex Chiquillo
						</h3>
					</div>
					<Marquee />
				</div>
				<div class="flex mt-9">
					<div class="w-1/2">
						<h2
							class="font-[RobotoMono] text-[clamp(1.2rem,2vw,2rem)] px-5 underline underline-offset-3 decoration-2"
						>
							About me
						</h2>
					</div>
					<div class="w-1/2">
						<p
							class="text-pretty font-[RobotoMono] text-[clamp(1.2rem,2vw,2rem)] px-3"
						>
							As a creative developer, I focus on both design and
							development — allowing me to work on projects from
							concept until the very moment we hit publish. Unique
							layouts, interactions and great typography is what I
							focus on when working on websites.
						</p>
					</div>
				</div>
			</main>
			<footer
				class="h-24 bg-midnight w-full flex items-center justify-center mt-9"
			>
				<div>
					<p id="year-cr" class="text-platinum">
						© 2025 - All Rights Reserved
					</p>
				</div>
			</footer>
		</div>
	</body>
</html>

<script>
	document.getElementById("year-cr")!.innerText =
		"© " + new Date().getFullYear() + " - All Rights Reserved";
</script>
