---

---

<style>
    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - 2rem));
        }
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .animate-marquee {
        animation: marquee 30s linear infinite reverse;
    }
    .animate-spin {
        animation: spin 15s linear infinite;
    }
</style>
<div
    class="text-timberwolf flex overflow-hidden select-none gap-[2rem] pb-8 mt-auto"
>
    <div
        class="flex shrink-0 items-center justify-between gap-[2rem] min-w-full animate-marquee"
    >
        <h1 class="font-[Orbitron] whitespace-nowrap text-8xl">
            COMPUTER ENGINEER
        </h1>
        <img src="/icons/wheel.svg" alt="" class="size-20 animate-spin" />
        <h1 class="font-[Orbitron] whitespace-nowrap text-8xl">
            COMPUTER ENGINEER
        </h1>
        <img src="/icons/wheel.svg" alt="" class="size-20 animate-spin" />
    </div>
    <div
        class="flex shrink-0 items-center justify-between gap-[2rem] min-w-full animate-marquee"
    >
        <h1 class="font-[Orbitron] whitespace-nowrap text-8xl">
            COMPUTER ENGINEER
        </h1>
        <img src="/icons/wheel.svg" alt="" class="size-20 animate-spin" />
        <h1 class="font-[Orbitron] whitespace-nowrap text-8xl">
            COMPUTER ENGINEER
        </h1>
        <img src="/icons/wheel.svg" alt="" class="size-20 animate-spin" />
    </div>
</div>
